@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
}

body{
    background-color: #fcc1c4;
}

.header{
    display: flex;
    background-color: #fff7ee;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 85px;
    width: auto;
    justify-content: center;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: black;
}

.slider-wrapped{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    max-width: 900px;
    margin: 0 auto;
}

.slider {
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #21212126;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: grey;
    display: block;
    opacity: 0.6;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

.slider::-webkit-scrollbar {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-options {
    display: flex;
    column-gap: 100px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.option-dog,
.option-cat {
    margin: 0;
    padding: 0;
    text-align: center;
}

.option-dog h2,
.option-cat h2 {
    font-size: 34px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 10px;

}

.option-dog img,
.option-cat img{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: block;
    width: 400px;
    height: 400px;
}

.dog-picture img,
.cat-picture img {
    display: block;
    margin: 0 auto 10px auto;
    transition: box-shadow 0.3s, transform 0.3s;
}

.dog-picture img:hover,
.cat-picture img:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.btn-option {
    padding: 10px 20px;
    background-color: #2e5346;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    transition: background-color 0.3s, transform 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
}

.btn-option:hover {
    background-color: #96c6b5;
    transform: translateY(-2px);
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
}

.info-section {
    display: grid;
    background-color: #FFF7EE;
    grid-template-columns: 1fr 1fr;
    padding: 20px 70px;
    gap: 50px;
}

.info-copy h3 {
    font-weight: 700;
    font-size: 32px;
    letter-spacing: 0.4px;
    padding: 40px;
    margin-left: 25px;
}

.info-copy h4 {
    font-weight: 300;
    font-size: 28px;
    margin-left: 65px;
}


.info-img h4 {
    font-weight: 300;
    justify-self: center;
    padding: 10px;
    margin-bottom: 15px;
}

footer {
    background-color: #96c6b5;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

footer p {
  font-size: 22px;
  font-weight: 600;
}

footer a {
  display: block;
  margin: 5px 0;
  color: #2e5346;
  text-decoration: underline;
  transition: color 0.3s;
}
