@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    --color-primario: #7FAD78;
    --color-secundario: #AF2F4E;
    --color-strong-green: #304B2C;
    --color-pastel-red: #DE909D;
    --color-grey: #F7F8FA;
    overflow-x: hidden;
}

.breadcrumb {
    display: inline-block;
    justify-content: flex-start;
    padding: 20px;
    margin: 20px 100px;
    font-size: 18px;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--text-color);
    transition: color 0.3s ease;
}

.breadcrumb a:hover{
    color: gray;
}

.breadcrumb .active-breadcrum{
    font-weight: 600;
}

.breadcrumb .divider{
    margin: 0 5px;
}

.inicio-breadcrum{
    text-decoration: none;
    color: var(--color-strong-green);
    font-weight: 500;
}

.productos-breadcrum{
    text-decoration: none;
    color: var(--color-strong-green);
    font-weight: 500;
}

.active-breadcrum{
    color: var(--color-primario);
    font-weight: 400;
}

.divider{
    padding: 2px;
}
@media (max-width: 768px){
    .breadcrumb{
        margin: 20px 20px;
        font-size: 16px;
    }
}