@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    --color-primario: #FAE2D4;
    --color-secundario: #fff7ee;
    --text-color: #000000;
    --menu-mobile-background: #FFE2E2;
    --verde:#2e5346;
    --verde-oscuro: #07402d;
}

body{
    margin: 0;
    padding: 0;
    color: var(--text-color)
}

main {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    padding: 20px;
}

.checkout-container {
    display: grid;
    /* Dos columnas: la primera (formulario) es 1.5 veces más ancha que la segunda */
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 40px auto;
    gap: 40px;
}
