footer {
    background-color: #96c6b5;
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
}

footer p {
  font-size: 22px;
  font-weight: 600;
}

footer a {
  display: block;
  margin: 5px 0;
  color: #2e5346;
  text-decoration: underline;
  transition: color 0.3s;
}
