.header {
    display: flex;
    background-color: #fff7ee;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20%;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: auto;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.nav-links li{
    padding: 0 15px; 
    list-style: none;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
}

.nav-links li a:hover{
    color: var(--text-color);
}

.menu-toggle{
    display: none;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn img{
    width: 35px;
    height: 35px; 
}

.close-menu{
    display: none;
}

@media (max-width: 830px){
    .menu-btn{
        display: block;
    }

    .open-menu {
        display: block;
    }

    .close-menu {
        display: none;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%; /*debería rellenar el fondo de todo el menu pero no lo hace?*/
        align-items: center;
        text-align: center;
        margin: 0 auto;
        background-color: var(--menu-mobile-background);
        padding: 20px 0;
        z-index: 99; /*trae el menu hacia adelante, por la imagen no se veia*/
    }

    .nav-links li {
        width: 100%;
    }

    .nav-links a{
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .menu-toggle:checked + .menu-btn .open-menu {
        display: none;
    }
    .menu-toggle:checked + .menu-btn .close-menu {
        display: block;
    }
    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}