@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    --color-primario: #7FAD78;
    --color-secundario: #AF2F4E;
    --color-strong-green: #304B2C;
    --color-pastel-red: #DE909D;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

            /* NAVBAR */

.header {
    display: flex;
    background-color: #fff7ee;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    height: 80px;
    width: 80px;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.nav-links li{
    display: flex;
    list-style: none;
    padding: 0 20px; 
    margin-right: 25px;
    align-items: center;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
}

.nav-links li a:hover{
    color: var(--text-color);
}

.menu-toggle{
    display: none;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn img{
    width: 40px;
    height: 40px;
    margin-left: 50px; 
}

.close-menu{
    display: none;
}

.cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.carrito{
    width: 24px;
    cursor: pointer;
    padding: 50px; /*alineado con el carrusel sino queda muy solo a la derecha*/
    height: 24px;
}

.carrito:hover{
    transform: scale(1.1);
}

@media (max-width: 975px){
    .navbar {
        display: grid; /*desktop flex y vistas chicas grid porque el logo no se me centraba y me pareció mejor ubicar el menú del lado izq como está en varias paginas*/
        grid-template-columns: 1fr auto 1fr; /*tres columnas una para cada componente*/
        align-items: center;
    }
    
    .logo {
        grid-column: 2;
        align-items: center;
    }

    .menu-btn{
        display: flex;
        justify-content: flex-start;
    }

    .open-menu {
        display: block;
    }

    .close-menu {
        display: none;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        grid-column: 1;
        position: absolute;
        top: 111%; /*lo mas alineado posible al nav asi no le da toc al profe*/
        left: 0;
        width: 40%; /*debería rellenar el fondo de todo el menu pero no lo hace?*/
        align-items: center;
        text-align: center;
        background-color: var(--menu-mobile-background);
        padding: 20px 0;
        z-index: 99;
    }

    .nav-links li {
        width: 100%;
        margin: 0;
    }

    .nav-links a{
        display: block;
        width: 100%;
        text-align: start;
        margin-left: 30px;
        padding: 1px;
    }

    .menu-toggle:checked + .menu-btn .open-menu {
        display: none;
    }
    .menu-toggle:checked + .menu-btn .close-menu {
        display: block;
    }
    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}