@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    --color-primario: #7FAD78;
    --color-secundario: #AF2F4E;
    --color-strong-green: #304B2C;
    --color-pastel-red: #DE909D;
    --color-grey: #F7F8FA;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    background-color: white;
}

/*-------------------------- NAVBAR ----------------------------------*/

.header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo img{
    height: 80px;
    width: 80px;
    transition: all 0.3s;
}

.logo img:hover{
    transform: scale(1.2);
}

.nav-links, .cart-btn, .profile-btn{
    display: flex;
    align-items: center;
}

.right-section{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.nav-links li{
    display: flex;
    list-style: none;
    padding: 0 20px; 
    margin-right: 25px;
    align-items: center;
}

.nav-links li:hover{
    transform: scale(1.1);
}

.nav-links a{
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
}

.nav-links li a:hover{
    color: var(--text-color);
}

.menu-toggle{
    display: none;
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.menu-btn img{
    width: 40px;
    height: 40px;
    margin-left: 50px; 
}

.close-menu{
    display: none;
}

.cart-btn{
    display: flex;
    align-items: center;
    height: 50px;
}

.carrito{
    width: 20px;
    cursor: pointer;
    /*padding: 50px; alineado con el carrusel sino queda muy solo a la derecha*/
    height: 24px;
}

.carrito:hover{
    transform: scale(1.1);
}

.profile-btn{
    display: flex;
    align-items: center;
    height: 50px;
}

.user-icon{
    width: 42px;
    cursor: pointer;
    padding: 50px;
}

.user-icon{
    transform: scale(1.1);
}

.icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 975px){
    .navbar {
        display: grid; /*desktop flex y vistas chicas grid porque el logo no se me centraba y me pareció mejor ubicar el menú del lado izq como está en varias paginas*/
        grid-template-columns: 1fr auto 1fr; /*tres columnas una para cada componente*/
        align-items: center;
    }
    
    .logo {
        grid-column: 2;
        align-items: center;
    }

    .menu-btn{
        display: flex;
        justify-content: flex-start;
    }

    .open-menu {
        display: block;
    }

    .close-menu {
        display: none;
    }

    .nav-links{
        display: none;
        flex-direction: column;
        grid-column: 1;
        position: absolute;
        top: 111%; /*lo mas alineado posible al nav asi no le da toc al profe*/
        left: 0;
        width: 40%; /*debería rellenar el fondo de todo el menu pero no lo hace?*/
        align-items: center;
        text-align: center;
        background-color: var(--menu-mobile-background);
        padding: 20px 0;
        z-index: 99;
    }

    .nav-links li {
        width: 100%;
        margin: 0;
    }

    .nav-links a{
        display: block;
        width: 100%;
        text-align: start;
        margin-left: 30px;
        padding: 1px;
    }

    .menu-toggle:checked + .menu-btn .open-menu {
        display: none;
    }
    .menu-toggle:checked + .menu-btn .close-menu {
        display: block;
    }
    .menu-toggle:checked ~ .nav-links {
        display: flex;
    }
}
/*---------------------------------- FOOTER ------------------------------------*/

footer {
    background-color: var(--color-secundario);
    padding: 30px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.logo-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer img{
    height: 200px;
    width: 200px;
}

.first-column,
.second-column {
    display: flex;
    flex-direction: column;
}

footer p {
  font-size: 22px;
  font-weight: 600;
}

footer a {
  display: block;
  margin: 5px 0;
  color: #2e5346;
  text-decoration: underline;
  transition: color 0.3s;
}

/*----------------------------------- HERO -------------------------------------*/

.hero {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.hero-img{
    width: 100%;
    height: 100%;
}

.hero-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    display: block;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.50);
    padding: 40px 60px;
    text-align: center;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);;
}

.hero-text h1{
    font-size: 36px;
    color: var(--color-strong-green);
}

.hero-text p{
    font-size: 22px;
    color: var(--color-strong-green);
    line-height: 1.5;
    
}

.btn-hero{
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 16px;
}

.btn-hero:hover{
    background-color: var(--color-secundario);
}

/*------------------ CONTENEDOR INFO ------------------------------*/
/*TO DO: agregar animaciones a cada item*/

.info-section{
    background-color: var(--color-primario);
    padding: 30px 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
    width: 1400px;
    height: 25vh;
    margin-top: -20px;
}

.first-item, .second-item , .third-item{
    justify-items: center;
    color: white;
}

.first-item h2, .second-item h2, .third-item h2{
    font-size: 22px;
    font-weight: 600;
}

/*------------------------ GRILLA PRODUCTOS --------------------------*/

.products-section{
    text-align: center;
    padding: 40px 20px;
    display: block;
}

.products-section h3{
    font-size: 36px;
    margin-bottom: 30px;
    color: var(--color-strong-green);
    margin-bottom: 10px;
}

.products-section p{
    font-size: 20px;
    margin-bottom: 70px;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: start;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}

.product-item {
    background-color: var(--color-grey);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    width: 100%;
    max-width: 280px;
}

.product-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.10);
}

.product-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.product-item p {
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0 4px;
}

.product-item span {
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}

.product-item a {
    text-decoration: none;
    color: var(--color-strong-green);
}

@media (max-width: 1024px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}


/*--------------------- COMPONENTE CONOCE MAS ------------------------*/
/*TO DO: cambiar bullets por checks*/

.see-more-component{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 40px;
    margin: 70px auto;}

.see-more-txt h1{
    font-size: 36px;
}

.see-more-txt ul {
    list-style-type:circle;
    padding-left: 20px;
    margin-top: 15px;
    font-size: 20px;
    line-height: 1.5;
}

.see-more-txt{
    flex: 1.2;
}
.see-more-img{
    flex: 1;
}
.see-more-img img{
    width: 85%;
    height: auto;
    border-radius: 5px;
}

.see-more-btn{
    margin-top: 42px;
}

.more-btn{
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 18px;
    
}

.more-btn:hover{
    background-color: var(--color-secundario);
}

/*--------------------------------BREADCRUMBS-------------------------------*/

.breadcrumb{
    margin: 20px 100px;
    font-size: 18px;
}

.inicio-breadcrum{
    text-decoration: none;
    color: var(--color-strong-green);
    font-weight: 500;
}

.productos-breadcrum{
    text-decoration: none;
    color: var(--color-strong-green);
    font-weight: 500;
}

.active-breadcrum{
    color: var(--color-primario);
    font-weight: 400;
}

.divider{
    padding: 5px;
}

/*---------------------------------FILTROS------------------------------------*/

.search-products {
    position: relative;
    padding: 6px;
    max-width: 400px;
    background-color: #fff;
    border: 1px solid #948e8e;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.filter-check {
    font-size: 18px;
}

.slider-filter {
    color: var(--color-secundario);
}

/*------------------------ GRILLA DE PRODUCTOS ----------------------------------*/

.products-page{
    display:flex;
    align-items: flex-start;
    gap: 20px;
}

.products-page aside{
    width: 300px;
    margin-left: 100px;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
    align-items: start;
    max-width: 1000px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/*------------------------ LANDING PRODUCT DETAILS ----------------------------------*/

.detail-component{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    margin: 0 auto;
    width: 85%;
    gap: 40px;
}

.img-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-container img{
    width: 450px;
    height: 450px;
    border-radius: 5px;
    margin-bottom: 15px;
    object-fit: cover;
}

.product-description{
    font-size: 20px;
    color: var(--color-strong-green);
    max-width: 450px;
    margin-top: 10px;
    font-weight: 600;
}

.price-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.price-container h2{
    color: var(--color-primario);
    font-size: 28px;
    margin-bottom: 50px;
}

.box-payment{
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.add-to-cart-btn{
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    background-color: var(--color-primario);
    border: none;
    color: white;
    transition: 0.3s;
    margin-bottom: 20px;
    margin-top: 20px;
    text-decoration: none;
}

.add-to-cart-btn:hover{
    background-color: var(--color-secundario);
}

.quantity-label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.quantity{
    width: 70px;
    border: 1px solid;
    height: 25px;
}

.details-list{
    margin: 20px 0 50px 0;
    list-style: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.details-list li{
    margin-bottom: 10px;
}

/*----------------------------LANDING NOSOTROS--------------------------------*/

.copy-solution{
    display: flex;
    padding: 20px;
    margin: 20px 20px;
    
}

.copy-solution p{
    font-size: 26px;
    letter-spacing: 0.4px;
}

/*-------------------------------- LANDING CART -------------------------------*/

.my-cart{
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;

}

.my-cart a{
    text-decoration: none;
    color: var(--color-secundario);
    padding: 10px 15px;
    font-size: 18px;
    text-decoration: underline;
}

.cart-container{
    width: 80%;
    margin: 0 auto;
}

.cart-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.cart-table th{
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    border-bottom: 1px solid #eee;

}

.cart-item{
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

.product-info{
    display: flex;
    align-items: center;
    gap: 15px;
}

.product-info img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 20px;
}

.product-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.product-details a {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-strong-green);
    text-decoration: none;
}

.btn-empty{
    background-color: transparent;
    border: none;
    color: var(--color-primario);
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    text-decoration: underline;
}

.quantity-control {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 20px;
}

.quantity-control button {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-primario);
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.cart-summary{
    margin-top: 20px;
    text-align: right;
    margin-right: 70px;
}

.cart-summary p{
    font-size: 20px;
}

.shipping-note{
    font-size: 12px;
    font-weight: 300;
}

.checkout-btn{
    background-color: var(--color-primario);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 18px;
    margin: 0 0 20px 0;
    letter-spacing: 0.8px;
    border: none;
}

.checkout-btn:hover{
    background-color: var(--color-secundario);
}

/*----------------------------------------- CONTACT -----------------------------------------------------*/

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.contact-container{
    width: 800px;
    margin: 0 auto;
    
}

.contact-header h1{
    font-size: 36px;
    color: black;
    margin-bottom: 10px;
    text-align: center;

}

.contact-header p{
    font-size: 20px;
    color: var(--color-primario);
    margin-bottom: 80px;
    text-align: center;

}

form {
    width: 100%;
}

.form-group {
    margin-bottom: 20px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 7px;
    font-weight: 500;
    color: #444;
}

.required {
    color: #e53e3e;
}

.form-input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    outline: none;
    border-color: #7EAD64;
    box-shadow: 0 0 0 3px rgba(126, 173, 100, 0.4);
}

.form-button-container {
    text-align: center;
    margin-top: 32px;
}

.submit-button {
    background-color: #7EAD64;
    color: white;
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: var(--color-secundario);
}

@media (max-width: 768px) {
    .contact-header h1 {
        font-size: 32px;
    }
    .form-row {
        grid-template-columns: 1fr;
    }}